<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451891060609-6hg09qbrejqj0i7u1ttc62q4qhu54c7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451891060609-6hg09qbrejqj0i7u1ttc62q4qhu54c7i</string>
	<key>API_KEY</key>
	<string>AIzaSyBih-v7koe6qj2MeYDA_L3xMoC_OLwnz1A</string>
	<key>GCM_SENDER_ID</key>
	<string>451891060609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.babayevtechnologies.myWishList</string>
	<key>PROJECT_ID</key>
	<string>my-wish-list-6f1d4</string>
	<key>STORAGE_BUCKET</key>
	<string>my-wish-list-6f1d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451891060609:ios:48111815faf1f420909280</string>
</dict>
</plist>